#header {
	text-align: center;
	color: white;
	background: url('header.png') center fixed no-repeat;
	height: 600px;
	margin: 0;
	background-size: cover;
	width: 100%;
}
#header h1 {
	font-size: 55px;
	padding-top: 260px;
	padding-bottom: 0;
	margin: 0;
	letter-spacing: 5px;
	font-style: normal;
}

#header p {
	padding-top: 0;
	font-size: 25px;
	margin: 0;
}

#footer {
	width: 100%;
	height: 260px;
	float: left;
	text-align: center;
}
#footer h2 {
	font-size: 30px;
	font-weight: normal;
}
#footer p {
	font-size: 14px;
	margin-bottom: 50px;
}
.footer-text {
	font-style: italic;
}
.footer-text hr {
	border: 0.8px solid #f2f2f2;
}
#copyright {
	margin-top: 30px;
	font-size: 12px;
}
#copyright a {
	text-decoration: none;
	color: #1686C1;
}
